.campaign-wrap {
	width: 1920px;
	max-width: 1920px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-flow: column nowrap;
	color: #fff;
}

.campaign-title {
	line-height: 50px;
	border-bottom: 1px solid #fff;
	font-size: 20px;
	margin: 20px 0;
}

.campaign-season {
	width: 1920px;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: start;
}

.campaign-season > div {
	height: auto;
	padding: 0 0 20px 0;
}
.campaign-season > div p {
	line-height: 20px;
}
